.App {
  text-align: center;
}

ul {
  list-style: none;
}

input {
  padding: 4px;
  margin: 4px;
}

li {
  margin: 10px 0;
}


.App-header {
  padding: 4px;
  margin: 4px;
}

.delete-btn {
  font-size: 14px;
  margin-left: 10px;

  border-radius: 50px;
  border: none;
  background-color: white;
  
  padding-top: 4px;
  padding-bottom: 4px;
  
}